@model CampingdoZe2.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = Model.Title;
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.HiddenFor(m => m.Customers.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.Nome)
        @Html.TextBoxFor(m => m.Customers.Nome, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
}
