@model IEnumerable<CampingdoZe2.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Clientes</h2></center>

@if (@Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Cliente</th></tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr><td>@Html.ActionLink(@cliente.Nome, "Detalils", new { cliente.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não temos nenhum cliente cadastrado</p>
}